header{
    background-color: #2C3139;
    list-style: none;
}
.topbar{
    list-style: none;
}
.left_icon{
   width: 64px; 
   height: 64px;
}
.right_icon{
    width: 44px; 
   height: 44px;
}
body{
    margin: none;
    padding: none;
}
a{
    text-decoration: none;
}
#mainpicture{
        width: 100%; 
       
}
h1,h4 {
    text-decoration: none;
}